<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Testo</title>
  </head>
  <body>
    <h1> Unordered list </h1>
    <ul> 
	  <li> Kira </li>
	  <li> Amuro </li>
	  <li>Setsuna</li>
	  <li>Heero</li>
	</ul>
  </body>
</html>